﻿@page "/"
@using WARegistroHoras.Shared;

<PageTitle>Index</PageTitle>

<MudPaper Class="pa-16 m-4" Elevation="3">

    <MudGrid Class="d-flex align-end">
        <MudItem xs="12" sm="6" md="4">
            <MudAutocomplete T="string" Label="Mes" @bind-Value="month" SearchFunc="@Search1" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudIconButton Color="Color.Success" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Size="Size.Medium" />
        </MudItem>
    </MudGrid>

    @if(ViewTable)
    {
        <MudTable Items="@FormView.OrderByDescending(x=>x.CreationDate)" Dense="false" Hover="true" Bordered="true" Striped="true" Filter="new Func<ViewForm,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Formulario de Horas</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Mes</MudTh>
                <MudTh>Creado</MudTh>
                <MudTh>Estado</MudTh>
                <MudTh>Acciones</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Mes">@context.Month</MudTd>
                <MudTd DataLabel="Creado">@context.CreationDate.Date.ToString()</MudTd>
                <MudTd DataLabel="Estado">
                    @if(@context.Procesed)
                    {
                    <MudAvatar Size="Size.Small" Color="Color.Success"></MudAvatar>
                    }
                    else if(@context.Confirm)
                    {
                     <MudAvatar Size="Size.Small" Color="Color.Info"></MudAvatar>
                    }
                    else if(@context.Sent)
                    {
                    <MudAvatar Size="Size.Small" Color="Color.Secondary"></MudAvatar>
                    }
                    else
                    {
                    <MudAvatar Size="Size.Small" Color="Color.Default"></MudAvatar>
                    }
                </MudTd>
                <MudTd DataLabel="Acciones">
                    @if(!@context.Sent)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Send" Variant="Variant.Outlined" Color="Color.Success" Size="Size.Small" Class="mx-1" />
                    }
                    else
                    {   
                        <MudIconButton Icon="@Icons.Material.Filled.Send" Variant="Variant.Outlined" Disabled = "true" Color="Color.Success" Size="Size.Small" Class="mx-1" />
                    }

                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Error" Size="Size.Small" Class="mx-1" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    }
</MudPaper>

@code {
    private bool ViewTable { get; set; } = true;
    private string userName = "Pedro Piedra";

    private string month;
    private string[] months =
        {
        "1 | Enero","2 | Febrero","3 | Marzo","4 | Abril","5 | Mayo","6 | Junio",
        "7 | Julio","8 | Agosto","9 | Septiembre","10 | Octubre","11 | Noviembre","12 | Diciembre",
    };

    private string searchString1 = "";
    private ViewForm selectedItem1 = null;


    private List<ViewForm> FormView = new()
        {
            new ViewForm()
            {
                Id=1,
                Month= "Enero",
                EmployeeName = "Pedro Piedra",
                CreationDate = DateTime.Parse("02/01/2018"),
                Procesed = true,
                ProcesedDate = DateTime.Now,
                Confirm = true,
                ConfirmDate = DateTime.Now,
                Sent = true,
                SentDate = DateTime.Now,
            },
            new ViewForm()
            {
                Id=2,
                Month= "Febrero",
                EmployeeName = "Pedro Piedra",
                CreationDate = DateTime.Parse("05/02/2018"),
                Procesed = false,
                ProcesedDate = DateTime.MinValue,
                Confirm = true,
                ConfirmDate = DateTime.Now,
                Sent = true,
                SentDate = DateTime.Now,
            },
            new ViewForm()
            {
                Id=3,
                Month= "Marzo",
                EmployeeName = "Pedro Piedra",
                CreationDate = DateTime.Parse("12/03/2018"),
                Procesed = false,
                ProcesedDate = DateTime.MinValue,
                Confirm = false,
                ConfirmDate = DateTime.MinValue,
                Sent = true,
                SentDate = DateTime.Now,
            },
            new ViewForm()
            {
                Id=4,
                Month= "Abril",
                EmployeeName = "Pedro Piedra",
                CreationDate = DateTime.Parse("12/04/2018"),
                Procesed = false,
                ProcesedDate = DateTime.MinValue,
                Confirm = false,
                ConfirmDate = DateTime.MinValue,
                Sent = false,
                SentDate = DateTime.MinValue,
            },

    };

    private async Task<IEnumerable<string>> Search1(string value)
    {
        if (string.IsNullOrEmpty(value))
            return months;
        return months.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    protected override async Task OnInitializedAsync()
    {
        int m = DateTime.Now.Month;
        month = (await Search1(m.ToString())).FirstOrDefault();

    }


    private async Task AddFormMonth()
    {

    }

    private bool FilterFunc1(ViewForm element) => FilterFunc(element, searchString1);

    private bool FilterFunc(ViewForm element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Month.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
       
        return false;
    }
}